* {
  background-color: #1d1d1d;
  color: whitesmoke;
}

#details,
#endeavors {
  display: flex;
  flex-wrap: wrap;
}

H1 {
  flex: 2;
}

p,
h3,
ul {
  margin: 0;
  padding-inline-start: 0;
}

button {
  border-radius: 1em;
  margin: 1em;
  width: fit-content;
}

.character {
  width: fit-content;
}

form,
.info {
  border: solid;
  border-radius: 1em;
  width: fit-content;
  padding: 2em;
  margin: 1em;
}

fieldset {
  border: none;
}

.gear {
  border-bottom: solid;
}

#settlement {
  max-width: 50%;
}
