* {
  color: whitesmoke;
  font-family: "Courier New", Courier;
}

html {
  background-color: #1d1d1d;
}

#details,
#endeavors,
#survivorDetails,
.flex {
  display: flex;
  flex-wrap: wrap;
}

#endeavors {
  margin-bottom: 2em;
}

H1 {
  flex: 2;
}

p,
h3,
ul {
  margin: 0;
  padding-inline-start: 0;
}

button {
  border-radius: 1em;
  margin: 1em;
  width: fit-content;
  background-color: #1d1d1d;
}

.character {
  width: fit-content;
}

#generator,
.info {
  border: solid;
  border-radius: 1em;
  width: fit-content;
  padding: 2em;
  margin: 1em;
  max-width: 30%;
}

.settlementTitle,
.settlementValue {
  text-align: center;
  background-color: transparent;
  margin: 0.5em;
}

.settlementAttribute {
  border: solid;
  border-radius: 1em;
  width: fit-content;
}

fieldset {
  border: none;
}

.gear {
  border-bottom: solid;
}

#settlement {
  max-width: 50%;
}

.flavour {
  font-style: italic;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 0.4em;
  width: 100%;
  margin-top: 2em;
  background-color: #222222;
}

#options {
  width: fit-content;
  visibility: collapse;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #222222;
  padding: 2em;
}

select {
  background-color: #222222;
  margin-left: 0.5em;
}

.question {
  padding: 0.5em;
}
